* {
  box-sizing: border-box;
}
html {
  font-family: 'Red Hat Display', sans-serif;
}
img {
  width: 100%;
}
a,
a:visited {
  color: #000;
  border-bottom: transparent 2px solid;
  transition: .2s;
}
button {
  padding: .4em 1em;
  font-size: inherit;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
input {
  display: block;
  margin: 5px 0;
  padding: .4em;
  width: 100%;
  border: 1px #000 solid;
  border-radius: 5px;
}
input.error {
  border-color: red;
  outline-color: red;
}
form > * {
  margin: 15px;
}
form small,
form .error {
  color: red;
}
main > section:first-of-type {
  padding: 10vw 5vw 5vw;
}
h1 {
  font-size: 2.5rem;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5vw;
}